
.wrapper {
    display: flex;

    .list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 30px; 
        min-width: 220px;
        padding-left: unset;
        position: relative;
        label {
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
        }
        li {
            border: solid 1px #e5e5e5;
            text-align: center;
            padding: 8px 0px;
            border-bottom: none;
        }
    }
}

.quantity {
    width: 30px;
    position: absolute;
    right: 0px;
}