.container {
    height: 100vh;
    position: relative;
    .heading {
        font-size: 40px;
        padding: 10px 0;
        font-weight: bold;
        text-align: center;
    }
    .vertical-center {
        margin: 0;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  }
  
